html,
body {
    font-family: $base-font-family;
    color: $color-text;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%; // ios orientation change fix
    @include backgrounds();
    background-image: url(#{$pathToImages}chalkboard.jpg);
    background-color: $color-background-primary;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased !important;

    &:after,
    &:before {
        box-sizing: border-box;
    }
}