@font-face {
    font-family: 'ChalkHandLetteringShaded';
    src: url('../fonts/Chalk-hand-lettering-shaded_demo.ttf?');
}
@font-face {
    font-family: 'JandaStyleScript';
    src: url('../fonts/JandaStylishScript.ttf?');
}
@font-face {
    font-family: 'Symbols';
    src: url('../fonts/EmilyLime-BergamotOrnaments.otf?');
}
@font-face {
    font-family: 'Countryside';
    src: url('../fonts/Countryside.ttf');
}